.LoginBody{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    background-color: rgba(47, 70, 113, 0.75);
}

.LoginBody::after {
    content: "";
    background: url("/src/components/img/Ecuador-lugares-Quito-Enviajes.jpg") no-repeat center;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: .3;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.login{
    width: 85vw;
    height: 90vh;
    margin: 2rem auto;
    border-radius: 2px;
    box-shadow: 0 0.188em 1.550em rgb(108, 100, 156);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color: cornflowerblue;
    background-color: white;
}

.LoginImageContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    border-radius: 2px;
    width: 40%;
    background-color: rgba(76, 84, 99, 0.75);
    font-size: .8rem;
    color: white;
    text-align: center;
}

.LoginImageContainer > *{
    z-index: 10;
}

.LoginImageContainer > img{
    width: 3rem;
}

.LoginImageContainer::after {
    content: "";
    background: url("/src/components/img/Ciudad_Mitad_del_Mundo.jpg") no-repeat center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
  }